<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {{ content_for_header }}

  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</head>

<body>

  {% section 'header' %}

  <main>
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>
</html>